---
import { generateBaseSchema } from '@lib/baseSchemaUtils.ts';

interface Address {
  streetAddress: string;
  addressLocality: string;
  addressRegion: string;
  postalCode: string;
  addressCountry: string;
}

interface Metadata {
  title: string;
  description: string;
  ogTitle?: string;
  ogImage?: string;
  imageType?: string;
  width?: string;
  height?: string;
  alt?: string;
  card?: string;
  noindex?: boolean;
  nofollow?: boolean;
  logo?: string;
  address?: Address;
  telephone?: string;
  sameAs?: string[];
  author?: string;
  type?: string;
}

interface Props {
  metadata: Metadata;
}

const { metadata } = Astro.props;
const siteName = 'Livenotes';
const canonicalURL = Astro.url.href;
const siteUrl = new URL('/', Astro.url).href.replace(/\/$/, '');

const schema = generateBaseSchema({
  siteName,
  siteUrl,
  canonicalURL,
  title: metadata.title,
  description: metadata.description,
  logo: metadata.logo,
  image: metadata.ogImage,
  address: metadata.address,
  telephone: metadata.telephone,
  sameAs: metadata.sameAs,
});

const {
  title,
  description,
  author,
  ogTitle,
  type = 'website',
  ogImage,
  imageType,
  width,
  height,
  alt,
  card = 'summary_large_image',
  noindex,
  nofollow,
} = metadata;
---

<!-- SEO Metadata -->
<title>{title}</title>
<meta name="description" content={description} />
{author && <meta name="author" content={author} />}
<link rel="canonical" href={canonicalURL} />

<!-- Robots -->
<meta
  name="robots"
  content={`${noindex ? 'noindex' : 'index'},${nofollow ? 'nofollow' : 'follow'}`}
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={ogTitle || title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={siteName} />
{ogImage && <meta property="og:image" content={ogImage} />}
{imageType && <meta property="og:image:type" content={imageType} />}
{width && <meta property="og:image:width" content={width} />}
{height && <meta property="og:image:height" content={height} />}
{alt && <meta property="og:image:alt" content={alt} />}

<!-- Twitter -->
<meta name="twitter:card" content={card} />
<meta name="twitter:url" content={canonicalURL} />
<meta name="twitter:title" content={ogTitle || title} />
<meta name="twitter:description" content={description} />
{ogImage && <meta name="twitter:image" content={ogImage} />}
{alt && <meta name="twitter:image:alt" content={alt} />}

<!-- JSON-LD Schema -->
<script
  type="application/ld+json"
  set:html={JSON.stringify(schema)}
  is:inline
/>
